---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv"
;

// Make the highlighted/bolded author name appear bold instead of underlined
.publications .author em,
.publications .author em a {
  font-style: normal !important;
  font-weight: 700 !important;
  text-decoration: none !important;
  border-bottom: none !important;
}